PORT=5000
NODE_ENV=development

# Mozilla Data Collective API Credentials
MDC_API_KEY=09a0cfc1b10d1627fec2b1c66cb16e416db979226f3b024315cb628728325046
MDC_USER_ID=mdc_d21738a6dde2ac4120a7ef255b2245ab
MDC_DATASET_ID=cmn1q3sgr00xwmm07t7te56k4
MDC_API_BASE_URL=https://datacollective.mozillafoundation.org/api

# Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_NAME=senoufo_db
DB_USER=postgres
DB_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@localhost:5432/senoufo_db
